.post_container {
    width: 600px;
    margin-top: 20px;
    border-radius: 7px;
}
.post_header {
    display: flex;
    height: 65px;
}
.post_header_avatar {
    
}
.post_avatar {
    margin: 15px;
}
.post_header_name {
    font-weight: 700;
    margin-top: 20px;
    font-size: 14px;
}
.post_description {
    display: flex;
    font-size: 14px;
    margin-left: 15px;
}
.post_image {
    margin: 10px 0px;
    width: 600px;
}
.post_likecountContainer {
    display: flex;
    height: 40px;
    padding: 0 10px;;
    border-bottom: 1px solid #E6E7E9;
}
.post_like {
    
}
.post_img {
    height: 20px;
}
.post_likecount {
    margin-left: 5px;
}
.post_likeShare {
    display: flex;
    height: 30x;
    margin-left: 100px;
    margin-top: 5px;
}
.post_tab {
    display: flex;
    width: 200px;
}
.post_tabHead {
    
}
.post_tabIcon {
    width: 30px;
}
.post_tabText {
    margin: 5px;
}
.post_comment {
    display: flex;
    border-top: 1px solid #E6E7E9;
}
.post_commentAvatar {
    margin-top: 15px;
    margin-left: 15px;
}
.post_commentBox {
    height: 40px;
    width: 480px;
    border: 8px;
    background-color: #EFF2F5;
    border-radius: 30px;
    font-size: 15px;
    padding-left: 20px;
    margin: 15px;
}